html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #565656;
}

fieldset,
input,
button {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px;
}

svg {
  display: block;
  width: auto;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main > * {
  position: relative;
  width: 100%;
  padding: 0px 40px;
  box-sizing: border-box;
  flex-shrink: 0;
}

main > header {
  padding-top: 60px;
}

main > footer {
  padding-bottom: 60px;
  flex-grow: 1;
}

main > [data-time='0'] {
  background-color: #383663;
}

main > [data-time='1'],
main > [data-time='23'] {
  background-color: #33406F;
}

main > [data-time='2'],
main > [data-time='22'] {
  background-color: #2F4A7A;
}

main > [data-time='3'],
main > [data-time='21'] {
  background-color: #2A5486;
}

main > [data-time='4'],
main > [data-time='20'] {
  background-color: #255E91;
}

main > [data-time='5'],
main > [data-time='19'] {
  background-color: #21689D;
}

main > [data-time='6'],
main > [data-time='18'] {
  background-color: #1C72A8;
}

main > [data-time='7'],
main > [data-time='17'] {
  background-color: #177CB4;
}

main > [data-time='8'],
main > [data-time='16'] {
  background-color: #1386C0;
}

main > [data-time='9'],
main > [data-time='15'] {
  background-color: #0E90CB;
}

main > [data-time='10'],
main > [data-time='14'] {
  background-color: #099AD7;
}

main > [data-time='11'],
main > [data-time='13'] {
  background-color: #05A4E2;
}

main > [data-time='12'] {
  background-color: #00AEEE;
}

* > section {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

header > figure {
  width: 100px;
  height: 100px;
  margin: 0px auto 40px;
  background-color: #EEC200;
  border-radius: 100%;
}

header > section {
  border-radius: 6px 6px 0px 0px;
}

header + footer {
  top: -20px;
  margin-bottom: -20px;
}

article > section {
  height: 150px;
  padding: 15px 20px 15px 67px;
}

article > section:before,
article > section:after {
  content: '';
  position: absolute;
  background-color: #9A11E9;
}

article > section:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 33px;
  width: 4px;
}

article:first-of-type > section:before {
  top: 20px;
  border-radius: 2px 2px 0px 0px;
}

article:last-of-type > section:before {
  bottom: calc(100% - 30px);
  border-radius: 0px 0px 2px 2px;
}

article > section:after {
  top: 20px;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

article h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

article hr {
  height: 2px;
  width: 60%;
  margin: 10px 0px;
  background-color: #EFEFEF;
  border-width: 0px;
  border-radius: 1px;
}

footer > section {
  padding-top: 0px;
  border-radius: 0px 0px 6px 6px;
}

form fieldset:not(:first-child) {
  margin-top: 20px;
}

form input,
form button {
  padding: 10px 12px;
  border-radius: 4px;
}

form input {
  width: 100%;
  background-color: #EFEFEF;
  box-sizing: border-box;
}

form input:not(:first-child) {
  margin-top: 10px;
}

form button {
  font-weight: 500;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

form div.methods {
  display: inline-flex;
  border-radius: 4px;
  flex-basis: auto !important;
  overflow: hidden;
}

form div.methods > input {
  display: none;
}

form div.methods > input ~ label {
  padding: 8px;
  background-color: #EFEFEF;
  fill: #838383;
  cursor: pointer;
}

form div.methods > input ~ label[for='cycle'] svg {
  height: 24px;
  margin: -2px 0px;
}

form div.methods > input[id='walk']:checked ~ label[for='walk'],
form div.methods > input[id='cycle']:checked ~ label[for='cycle'],
form div.methods > input[id='drive']:checked ~ label[for='drive'] {
  fill: #FFFFFF;
  background-color: #9A11E9;
}

form button[name='coordinates'] {
  padding: 6px;
  fill: #565656;
}

form button[name='coordinates'] svg {
  height: 24px;
}

form button[name='route'] {
  margin-left: auto !important;
  background-color: #EE0057;
}

form button.loading {
  position: relative;
  color: rgba(0, 0, 0, 0.00) !important;
}

form button.loading:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFFFFF' d='M18.2361946,14.7099075l-0.8379612-0.4837904c-0.2229805-0.1287346-0.3034248-0.4088192-0.1876488-0.6388025 c1.2127762-2.409936,1.1405811-5.2979498-0.2167435-7.6438222c-1.3537827-2.3498957-3.8188124-3.8565192-6.5122547-4.0111694 c-0.2571068-0.0147693-0.459445-0.2244306-0.459445-0.4819396V0.4828429c0-0.2778313,0.2337265-0.4964665,0.5111952-0.4821806 c3.3624678,0.1732824,6.4452934,2.0468731,8.1333275,4.9770198c1.6927013,2.9254384,1.7738285,6.5319338,0.2426987,9.5306129 C18.7830029,14.755703,18.4767609,14.8487825,18.2361946,14.7099075z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transform: rotate(0) translate(-50%, -50%);
  animation: spinaround 2.50s linear infinite;
}

div.split {
  display: flex;
  align-items: flex-start;
}

div.split > *:not(:first-child) {
  margin-left: 10px;
}

div.split > *:not(button) {
  flex-basis: 100%;
}