body {
  font-size: 14px;
  padding-top: 50px;
}

main > * {
  width: 100%;
}

section {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  background-color: #FFFFFF;
}

label{
  font-size: 20px;
}
.days{
  align-items: center;

}

article{
  text-align: center;
  margin: 10px,auto;
}
footer{
  text-align: center;
  margin: 10px,auto;
}


button [name="coordinates"]{
  appearance:button;
  background-image: url("https://cdn0.iconfinder.com/data/icons/map-3/1024/location-512.png");
  width: 35px;
  height: 35px;
  border-color: black;
}
